@model CookBookApp.Models.Recipe

@{
    ViewData["Title"] = "viewRecipes";
}

<h1>view Recipes</h1>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.ImageURL" style="height:256px;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoServing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoServing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrepTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrepTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredient)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Method)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Method)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "UpdateRecipe", new { id = Model.ID }) |

    <a class="btn btn-primary" asp-action="Index">Back to Recipes</a>


</div>